:root {
  --main-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  --main-shadow-input: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303030;
  position: relative;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

input {
  border-radius: 10px;
  padding: 10px;
  border: none;
  /* border: 1px solid #888888; */
  height: 30px;
  width: 90%;
  outline: none;
  margin: 10px 0;

  box-shadow: var(--main-shadow-input);
}

input[type="text"],
select:focus,
textarea {
  font-size: 16px;
}

label {
  width: 100%;
}

.loading-state {
  position: absolute;
  content: "";
  top: 350px;
  left: 35%;
}
