.ContactList {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 20px;

  box-shadow: var(--main-shadow);
}

.contactsContainer {
  width: 100%;
  box-sizing: border-box;
}

.contactsContainer > h2 {
  margin-left: 20px;
}

.ContactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin-bottom: 5px;

  box-shadow: var(--main-shadow);
}

.ContactItem > button {
  margin: 0;
}
